.hipervinculado{
    color: rgb(255, 0, 140);
}

.textoExp{
    color:rgb(155, 97, 22);
}

.adentroE{
    display: flex;
    justify-content: space-between;
}

.angulos{
    height: 400px;
    padding: 0px;
}

.tcp{
    height: 400px;
}

.angulo{
    height: 400px;
}

.adentroE
{
    
    justify-content: space-between;
}

.hero
{
    height: 600px;
    background-color: rgb(155, 97, 22);;
}

.aboutb
{
    height: 600px;
    background-color: pink;
    
}

.about
{
    background-color: rgb(155, 97, 22);
    color: rgb(253, 226, 226);
    padding-left: 5%;
}

.skillsb
{
    height: 600px;
    background-color: pink;
    
}

.skills
{
    background-color: rgb(155, 97, 22);
    color: rgb(253, 226, 226);
    padding-left: 5%;
}

.experienceb
{
    height: 600px;
    background-color: pink;
    
}

.experience
{
    background-color: rgb(155, 97, 22);
    color: rgb(253, 226, 226);
    padding-left: 5%;
}

.contactb
{
    height: 600px;
    background-color: pink;
    
}

.contact
{
    background-color: rgb(155, 97, 22);
    color: rgb(253, 226, 226);
    padding-left: 5%;
}


.cajayo{
    width: 50px; 
    height: 50px;
}

.yo{
    height: 100%; 
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.navbar{
    display: flexbox;
    position: inherit;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: rgb(155, 97, 22);
    background-color: pink;
}

.cajaopcion{
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 3px;
    width: 70%;
}

.opcion
{
    border: 2px solid rgb(155, 97, 22);
    border-radius: 40%;
    display: flex;
    align-items: center;
    width: 20%; /* si se quita esta linea se separan*/
    justify-content: center;
}
