.heroo
{
    height: 600px;
}

.cajayo{
    width: 50px; 
    height: 50px;
}

.yo{
    height: 100%; 
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.navbar{
    display: flexbox;
    position: inherit;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.cajaopcion{
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 3px;
    width: 70%;
}

.opcion
{
    border: 2px solid hotpink;
    border-radius: 40%;
    display: flex;
    align-items: center;
    width: 20%; /* si se quita esta linea se separan*/
    justify-content: center;
}
